@font-face {
  font-family: 'Inter';
  src:  url('../fonts/Inter-Light-slnt=0.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('../fonts/Inter-Medium-slnt=0.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('../fonts/Inter-Bold-slnt=0.ttf');
  font-weight: 800;
  font-style: normal;
}
