section.testimonials {
  overflow-x: hidden;

  .slide-wrap {
    box-sizing: border-box;
    max-width: 820px;
    padding: 65px 35px 85px;
    margin: auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    display: none;

    @media (max-width: $breakpt-small) {
      padding: 65px 25px 75px;
    }

    &.active {
      display: block;
    }
  
    .slide {
      max-width: 690px;
      height: 310px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      @media (max-width: $breakpt-small) {
        flex-direction: column;
        height: auto;
      }

      .content {
        font-family: Inter;
        color: $color-dark-blue;
        width: 60%;
        max-width: 420px;
        z-index: 1;
        position: relative;
        
        @media (max-width: $breakpt-small) {
          order: 1;
          width: 100%;
          max-width: none;
          margin-top: 95px;
          text-align: center;
        }

        .quote-icon {
          position: absolute;
          top: -45px;
          left: 55px;
          width: 75px;

          @media (max-width: $breakpt-small) {
            left: calc(50% - 37.5px);
          }
        }

        .desc {
          font-size: 20px;
          font-weight: 300;
          line-height: 29px;
          letter-spacing: 0.5px;
          margin: 0 0 30px;
        }
        
        .author {
          margin: 0;
          font-weight: 700;
          font-size: 15px;
          line-height: 15px;
          span {
            color: $color-grayish-blue;
            font-weight: 500;
            content: "\A";
            white-space: pre;

            @media (max-width: $breakpt-small) {
              display: block;
              margin-top: 7.5px;
            }
          }
        }
      }

      .profile-wrap {
        max-width: 310px;
        width: 50%;
        position: absolute;
        right: 0;

        @media (max-width: $breakpt-small) {
          position: relative;
          order: 0;
          width: calc(100% - 75px);
          max-width: none;
        }

        .profile-bg{
          position: absolute;
          top: -35px;
          left: -35px;
          z-index: -1;
          max-width: 380px;
          width: calc(100% + 70px);

          @media (max-width: $breakpt-small) {
            max-width: none;
          }

          img {
            width: 100%;
          }
        }

        .profile-img {
          width: 100%;
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
        }
      }

    }
    .wrap-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 90px;

      img {
        height: 90px;
      }
    }
  }
}
